@model DoAnLTW.Models.ViewModel.HomeProductVM

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #fff;
        color: #000;
        margin: 0;
        padding: 0;
    }

    .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px;
    }

    .product {
        width: 23%;
        box-sizing: border-box;
        margin-bottom: 20px;
        text-align: center;
    }

        .product img {
            width: 100%;
            height: auto;
        }

    .product-title {
        font-size: 16px;
        margin: 10px 0;
        text-decoration: none;
        color: black;
    }

    .product-price {
        font-size: 18px;
        color: red;
        font-weight: bold;
    }

    .product-old-price {
        font-size: 14px;
        color: #888;
        text-decoration: line-through;
        margin-left: 10px;
    }

    .search-input {
        height: 30px;
        width: 195px;
        border-radius: 10px;
    }

    .search-button {
        height: 30px;
        width: 70px;
        border-radius: 10px;
        background-color: black;
        color: white;
    }
</style>

@*Tìm kiếm *@
@*<section class="container-fluid searchProd">
        <h2>Tìm kiếm sản phẩm</h2>
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <div class="form-group search-container">
                @Html.TextBoxFor(m => m.SearchTerm, new
           {
               @class = "search-input",
               placeholder = "Nhập tên, mô tả loại sản phẩm"
           })

                <button type="submit" class="search-button">Tìm kiếm</button>
            </div>
        }
    </section>
    <hr />*@

<!--Form tìm kiếm -->
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div>
        @Html.TextBoxFor(m => m.SearchTerm, new
        {
            @class = "from-control",
            placeholder = "Nhập tên, mô tả hoặc loại sản phẩm"
        })
        <button type="submit" class="search-button">Tìm kiếm</button>
    </div>

}
@* Form kết quả tìm kiếm *@
@Html.Partial("PVNewProduct", Model)





