@model DoAnLTW.Models.Customer
@{
    ViewBag.Title = "PVDetailsDeleteCustomer";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}





<h2>CHI TIẾT KHÁCH HÀNG</h2>

<div>

    <hr />
    @Html.Partial("PVDetailsDeleteCustomer", Model)

</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.CustomerID }, new { @class = "btn btn-primary  btn-sm" })
    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary  btn-sm" })

</p>

