@model DoAnLTW.Models.ViewModel.ProductSearchVM


@{
    ViewBag.Title = "Search Product";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
    <style>

      

        .search-button {
            height: 30px;
            width: 100px;
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <!--Form tìm kiếm -->
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <div>
            @Html.TextBoxFor(m => m.SearchTerm, new
            {
                @class = "from-control",
                placeholder = "Nhập tên, mô tả hoặc loại sản phẩm"
            })
            <button type="submit" class="search-button">Tìm kiếm</button>
        </div>

    }
    @* Form kết quả tìm kiếm *@
    @Html.Partial("PVListProduct", Model)

</body>
</html>



